include Makefile
include conftest.py
include requirements*.txt
include version.txt
recursive-include swh/core/sql *.sql
recursive-include swh py.typed
recursive-include swh/core/tests/data/ *
recursive-include swh/core/tests/fixture/data/ *
