celery-types
hypothesis >= 3.11.0
msgpack-types
pytest >= 8.1
pytest-mock
pytest-postgresql > 5
pytz
requests-mock
types-deprecated
types-pytz
types-pyyaml
types-requests
types-setuptools
systemd-python
psycopg-pool
