Source: swh-core
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               lzip,
               python3-all,
               python3-aiohttp,
               python3-aiohttp-utils,
               python3-arrow,
               python3-blinker,
               python3-dateutil,
               python3-decorator,
               python3-deprecated,
               python3-flask,
               python3-iso8601,
               python3-magic,
               python3-msgpack (>= 0.5~),
               python3-pytest,
               python3-pytest-mock,
               python3-pytest-postgresql,
               python3-tz,
               python3-psycopg2,
               python3-typing-extensions,
               python3-requests,
               python3-requests-mock,
               python3-sentry-sdk,
               python3-setuptools,
               python3-setuptools-scm,
               python3-systemd,
               python3-yaml,
               python3-hypothesis (>= 3.11.0~),
               unzip
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DCORE/

Package: python3-swh.core
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-systemd
Description: Software Heritage core utilities

Package: python3-swh.core.db.pytestplugin
Architecture: all
Depends: python3-pytest-postgresql,
         python3-swh.core (= ${binary:Version}),
         unzip,
         ${misc:Depends},
         ${python3:Depends}
Breaks: python3-swh.core (<< 0.9.0-1~swh2~)
Replaces: python3-swh.core (<< 0.9.0-1~swh2~)
Description: Software Heritage Core Db Pytest Utilities
