Source: swh-core
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-aiohttp,
               python3-aiohttp-utils,
               python3-arrow,
               python3-dateutil,
               python3-decorator,
               python3-deprecated,
               python3-flask,
               python3-msgpack (>= 0.5~),
               python3-pytest,
               python3-tz,
               python3-psycopg2,
               python3-requests,
               python3-requests-mock,
               python3-setuptools,
               python3-systemd,
               python3-vcversioner,
               python3-yaml,
               python3-hypothesis (>= 3.11.0~)
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DCORE/

Package: python3-swh.core
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-systemd
Description: Software Heritage core utilities
