#!/usr/bin/make -f

export PYBUILD_NAME=swh.core
export PYBUILD_TEST_ARGS=-m 'not db'

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_python3:
	dh_python3 --requires=requirements-db.txt --requires=requirements-http.txt
